.leftpadding{
  margin-left: 1rem;
  margin-top: 1rem;
  /* border: 1px solid white; */
}

.nodeitems{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.nodeitem{
  margin-left: 1rem;
  /* display: flex; */
  /* border: 1px solid white; */
}

.lastnode{
  background-color: rgb(127, 127, 127);
  width: max-content;
}
.floatingbtn{
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
}

.floating{
  background-color: rgb(215, 215, 215);
  padding: 1rem;
  position: sticky;
  top: 2rem;
  right: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem ;
  border-radius: 10px;
  /* color: white; */
}
.floating >p{
  display: flex;
}

.floating >p> span{
  background-color: rgb(174, 174, 174);
  padding-inline: .625rem;
  margin-right: .625rem;
}
.floatingbtn{
  position: sticky;
  top: 2rem;
  right: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem ;
}

.main{
  /* border: 1px solid greenyellow; */
  width: 100%;
}

.App{
  /* width: 100vw; */
}